<section class="about-us">
    <div class="about-us-container">
      <div class="about-us-title-container">
        <h2 class="about-us-title">Quem somos</h2>
      </div>
      <div class="about-us-text-container">
        <p>
          Nós somos a Casa das Almas, uma saboaria artesanal que une tradição, cuidado e dedicação em cada detalhe.
        </p>
        <p>
          Somos apaixonados por criar produtos feitos à mão, com atenção especial ao bem-estar e ao autocuidado. Cada peça é desenvolvida para transformar momentos simples em rituais especiais, celebrando a simplicidade e a essência do cuidado.
        </p>
        <p>
          Somos mais do que uma marca; somos um convite para redescobrir o prazer de cuidar de si mesmo. Aqui, cada sabonete conta uma história de carinho e significado, refletindo a nossa missão de promover equilíbrio e bem-estar.
        </p>
        <p>
          Somos a Casa das Almas, onde sua pele e sua alma encontram harmonia e cuidado.
        </p>
        <br>
        <button class="about-us-button">Conheça nossos produtos</button>
      </div>
    </div>
  </section>