<section class="hero">
    <div class="hero-content">
      <h2 class="hero-subtitle">ONDE O CUIDADO E O ENCANTO SE ENCONTRAM</h2>
      <h1 class="hero-title">CASA DAS ALMAS</h1>
      <p class="hero-description">
        Na Casa das Almas, acreditamos que o cuidado com a pele vai além do
        toque. Por isso, criamos uma linha de saboaria artesanal que celebra a
        tradição, a simplicidade e o bem-estar.
        <br><br>
        Cada produto é feito à mão com atenção a cada detalhe, pensado para
        transformar o autocuidado em um ritual especial.
        <br><br>
        Dos sabonetes esfoliantes aos kits temáticos, celebramos o belo e o
        essencial. Bem-vindo à Casa das Almas, onde sua pele, sua alma e o
        momento de cuidar de si estão em primeiro lugar.
      </p>
      <button class="hero-button">Conheça nossos produtos</button>
    </div>
  </section>