:root {
    --social-banner-background-color: #fff;
    --social-banner-container-bg-color: #b29279;
    --social-banner-container-min-width: 60rem;
    --social-banner-container-padding: 0.9375rem;
    --social-banner-container-border-radius: 1.5rem;
    --social-banner-container-before-bg-color: #625042;
    --social-banner-container-before-width: 51.375rem;
    --social-banner-container-before-border-radius: 6.25rem 2.5rem 2.5rem 6.25rem;
    --social-banner-item-bg-color: #b29279;
    --social-banner-item-size: 4.875rem;
    --social-banner-item-border-radius: 50%;
    --social-banner-text-color: #d9d9d9;
    --social-banner-text-font-size: 1.25rem;
    --social-banner-text-font-family: 'Poppins', sans-serif;
    --social-banner-icon-position-left: 0.8125rem;
    --social-banner-icon-position-top: 1.25rem;
    --social-banner-gap: 1.25rem;
    --social-banner-padding: 2.5rem 1.25rem;
}

.social-links-banner {
    display: flex;
    justify-content: center;
    padding: var(--social-banner-padding);
    background-color: var(--social-banner-background-color);
}

.social-links-container {
    min-width: var(--social-banner-container-min-width);
    min-height: 6rem;
    display: flex;
    justify-content: space-around;
    gap: var(--social-banner-gap);
    background-color: var(--social-banner-container-bg-color);
    padding: var(--social-banner-container-padding);
    border-radius: var(--social-banner-container-border-radius);
    position: relative;
    overflow: hidden;
}

.social-links-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20rem;
    width: var(--social-banner-container-before-width);
    height: 100%;
    background-color: var(--social-banner-container-before-bg-color);
    border-radius: var(--social-banner-container-before-border-radius);
    max-width: 70%;
}

.social-link-item {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    position: relative;
    z-index: 1;
}

.social-link-bg {
    background-color: var(--social-banner-item-bg-color);
    height: var(--social-banner-item-size);
    width: var(--social-banner-item-size);
    border-radius: var(--social-banner-item-border-radius);
}

.social-link-text {
    color: var(--social-banner-text-color);
    font-size: var(--social-banner-text-font-size);
    font-family: var(--social-banner-text-font-family);
    white-space: nowrap;
    padding: 1rem;
}

.outline-phone, .outline-mail-banner {
    position: absolute;
    left: var(--social-banner-icon-position-left);
    top: var(--social-banner-icon-position-top);
}

.outline-location-1 {
    background-color: #625042;
    border-radius: 100%;
    padding:1.25rem;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0.40rem;
}

/* Responsividade */
@media (max-width: 768px) {
    :root {
        --social-banner-container-min-width: 100%;
        --social-banner-container-padding: 0.5rem;
        --social-banner-container-before-width: 100%;
        --social-banner-item-size: 3rem;
        --social-banner-text-font-size: 1rem;
        --social-banner-icon-position-left: 0.5rem;
        --social-banner-icon-position-top: 0.5rem;
        --social-banner-gap: 0.5rem;
        --social-banner-padding: 1rem 0.5rem;
    }

    .social-links-container {
        flex-direction: column;
        align-items: center;
    }

    .social-links-container::before {
        left: 0;
        border-radius: 0;
    }

    .social-link-item {
        flex-direction: column;
        align-items: center;
    }

    .social-link-text {
        padding: 0.5rem;
    }
}